# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.idea

# dependencies
/Code/rezept-app/node_modules
/Code/rezept-app/.pnp
/Code/rezept-app/.pnp.js

# testing
/Code/rezept-app/coverage

# next.js
/Code/rezept-app/.next/
/Code/rezept-app/out/

# production
/Code/rezept-app/build

# misc
/Code/rezept-app/.DS_Store
/Code/rezept-app/*.pem

# debug
/Code/rezept-app/npm-debug.log*
/Code/rezept-app/yarn-debug.log*
/Code/rezept-app/yarn-error.log*

# local env files
/Code/rezept-app/.env*.local

# vercel
/Code/rezept-app/.vercel

# typescript
/Code/rezept-app/*.tsbuildinfo
/Code/rezept-app/next-env.d.ts
